---
title: thewangcj's blog
layout: default
---
<div id="index-navi">
  <ul>
    <li><a id="index-home"href="{{ site.baseurl }}">{{ site.title }}</a></li>
    <li><a id="index-about" href="{{ site.baseurl }}/about.html">关于我</a></li>
  </ul>
</div>


<!-- 遍历分页后的文章 -->
<div>
  {% for post in paginator.posts %}
    <h1><a class="index-a" href="{{ post.url }}">{{ post.title }}</a></h1>
    <p class="author">
      <span class="date">{{ post.date| date_to_string }}</span>
    </p>
    <p>{{ post.excerpt }}</p>
  {% endfor %}
</div>


<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}