---
title: thewangcj's blog
layout: index
---
<div id="side-bar">
  <div class="header">
    <a id="logo" href="{{ site.baseurl }}">{{ site.title }}</a>
    <div id="intro">执迷不悔</div>
  </div>
  <div class="nav">
    <a href="{{ site.baseurl }}/about.html" class="item">关于我</a>
    <a href="{{ site.baseurl }}/tags.html" class="item">分类</a>
    <a href="{{ site.baseurl }}/archives.html" class="item">日志</a>
    <a href="{{ site.baseurl }}/feed.xml">RSS订阅</a>
  </div>
<!--   <div class="tag-list">
    {% for tag in site.tags %}
      <h3 class="item">{{ tag[0] }}</h3>
        <ul>
          {% for post in category[1] %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
    {% endfor %}
  </div> -->
</div>

<div id="main">
  <!-- 遍历分页后的文章 -->
  <div id="article-list">
    {% for post in paginator.posts %}
    <div class="item">
      <a class="title" href="{{ post.url }}">{{ post.title }}</a>
      <div class="status"> 发布于{{ post.date| date_to_string }}</div>
      <p>{{ post.excerpt }}</p>
    </div>
    {% endfor %}
  </div>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <em>{{ page }}</em>
      {% elsif page == 1 %}
        <a href="{{ paginator.previous_page_path | relative_url }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>