<div id="side-bar">
    <div class="header">
      <a id="logo" href="{{ site.baseurl }}">{{ site.title }}</a>
      <div id="intro">执迷不悔</div>
    </div>
    <div class="nav">
      <a href="{{ site.baseurl }}/about.html" class="item">关于我</a>
      <!-- <a href="{{ site.baseurl }}/about.html" class="item">捐助我</a> -->
      <a href="{{ site.baseurl }}/tags.html" class="item">分类</a>
      <a href="{{ site.baseurl }}/archives.html" class="item">日志</a>
    </div>
    <!-- <div class="tag-list">
      {% for tag in site.tags %}
        <h3 class="item">{{ tag[0] }}</h3>
          <ul>
            {% for post in category[1] %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
      {% endfor %}
    </div> -->
  </div>