body {
	font-family:"lucida grande", "lucida sans unicode",lucida, helvetica,"Microsoft Yahei", sans-serif;
	line-height: 1.7;
	font-size: 18px;
}

a {
	text-decoration: none;
}

#main{
	margin: 1% 14%;
	padding: 2% 8% 4% 8%; 
	border: 1px solid LightGrey;
}