body {
	font-family:"lucida grande", "lucida sans unicode",lucida, helvetica,"Microsoft Yahei", sans-serif;
	line-height: 1.7;
	font-size: 18px;
}

a {
	text-decoration: none;
}

#main{
	margin: 1% 14%;
	padding: 2% 8% 4% 8%; 
	border: 1px solid LightGrey;
}

p code {
	display: inline-block;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 110%;
	margin: auto 3px;
	border-radius: 5px;
	background-color: pink;
}

blockquote {
	font-family: "Palatino Linotype","Book Antiqua",Palatino,Helvetica,STKaiti,SimSun,serif;
	font-size: 150%;
	line-height: 1.5;
}