---
layout: default
---

<link rel="stylesheet" href="/assets/css/highlight/styles/default.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/info.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/monokai.css" />
<!-- <script src="/assets/css/highlight/highlight.pack.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css" />
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>


<div id="main">{{ content }}</div>

<!-- <div>
		<script type="text/javascript" src="http://www.douban.com/service/badge/thewangcj/?selection=latest&amp;picsize=small&amp;show=collection&amp;n=4&amp;cat=movie%7Cbook%7Cmusic&amp;columns=2"></script>
	</div> -->
<div id="gitalk-container"></div>

{% include footer.html %}

<script>
  var gitalk = new Gitalk({
    clientID: "a87d33bdf616f97931c9",
    clientSecret: "82ebc5a7b163b3676893a4f5b4c93dd12328c034",
    repo: "thewangcj.github.io",
    owner: "thewangcj",
    admin: ["thewangcj", "willia96"],
    id: location.pathname, // Ensure uniqueness and length less than 50
    distractionFreeMode: false, // Facebook-like distraction free mode
  });

  gitalk.render("gitalk-container");
</script>